[AWS_SQS_QUEUE]
aws_credentials_file={{ FULL_PATH_CREDENTIAL_FILE }}
aws_credentials_file_profile={{ PROFILE_NAME }}
region = {{ AWS_REGION }}
aws_access_key = {{ AWS_ACCESS_KEY }} 
aws_secret_key = {{ AWS_SECRET_KEY }}
aws_session_token = {{ AWS_SESSION_TOKEN }}
request_queue_name = {{ REQUEST_QUEUE_NAME }}
reply_queue_name = {{ REPLY_QUEUE_NAME }}
cred_url =
account_number =
iam_role_name = 
api_key = 


[DAEMON]
PID_FILE_PATH={{ PID_FILE_PATH }}/daemon_pid.pid
DAEMON_OUTPUT_OVERWRITE=False 
DAEMON_OUTPUT_FILE={{ DAEMON_OUTPUT_FILE_PATH }}/listener_out.log
DAEMON_ERROR_FILE={{ DAEMON_OUTPUT_FILE_PATH }}/listener_error.log
DAEMON_STDIN=/dev/null

[ADES_WPS-T_SERVER]
wps_server_url=http://127.0.0.1:5000

